* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  text-align: center;
}

.facts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterArea {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(34, 78, 189, .2);
}

fieldset {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.resetButton {
  border-radius: 10px;
  padding: .25rem;
  width: 100%;
  margin-top: .5rem;
}



.membersDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scene {
    width: 200px;
    height: 270px;
    /* border: 1px solid #CCC; */
    margin: 2rem .25rem;
    perspective: 600px;
    border-radius: 10px;
  }

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    /* background: rgb(237, 232, 232); */
    border-radius: 10px;
  }
  
  .card__face--back {
    background: linear-gradient(#e66465, #5a0101);
    transform: rotateY(180deg);
    border-radius: 10px;
  }

  .details {
    padding: .5rem;
  }

  .republican {
    background-color: rgb(237, 77, 77);
  }

  .democrat {
    background-color: rgb(102, 102, 247);
  }

  figure {
    border-radius: 10px;
  }

  figure img {
    border-radius: 10px;
  }

  figcaption {
    text-align: center;
    font-weight: 700;
    color: #FFF;
    font-size: larger;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgba(34, 78, 189, .6);
    color: #EEE;
  }